.white-section {
    background-color: $white;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.grey-section {
    padding: 25px 20px;
    background-color: $grey;
}

.hyperlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        cursor: pointer;
        color: $link;
        padding: 4px 0px;
        border-bottom: 1px solid $grey;
        &:last-child {
            border: none;
        }
    }
}

.form-container {
    padding: 5px 20px;
    .header-container {
        border-bottom: 3px solid #000000;
        margin-bottom: 10px;
        h3 {
            width: 60%;
        }
    }
    form {
        margin-bottom: 30px;
    	padding: 20px;
    	border: 1px solid $dark-grey;
    	label {
    		margin-bottom: 4px;
    		font-weight: bold;
    		font-size: 13px;
    	}
    	input,textarea {
    		margin-bottom: 10px;
    	}
    	#message {
    		height: 120px;
    	}
    	.submit-btn {
            border:none;
            cursor: pointer;
    		color: $white;
    		text-decoration: none;
    		display: inline-flex;
    		background-color: $purple;
    		padding: 7px 20px;
            letter-spacing: 2px;
    		text-transform: uppercase;
            &:hover {
                opacity: 0.7;
            }
    	}
    }
}