header {
    background-color: $purple;
    margin-bottom: 30px;
    padding-bottom: 20px;


    .secondary-menu {
        ul {
            li {
                a {
                    color: $black;
                    &:hover {
                    	color: $white;
                    }
                }
            }
        }
    }
    .main-menu {
        align-self: flex-end;
        color: $white;
        ul {
        	li {
        		a {
        			font-size: 18px;
        			&:hover {
        				color: $black;
        			}
        		}
        	}
        }
    }
}